doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO APPLICANT)
            br
        div
            block content
             br
        div.footer
            | Best regards

