extends container

block content
    div
        | New position added:
    br
    strong Category:
    |   #{category}
    br
    strong Level:
    |   #{level}
    br
    strong Company:
    |   #{company}
    br
    strong Japanese knowledge:
    |   #{japaneseRequired}
    br


